<div class="dash-buttons">
    <a [routerLink]="['/account/edit-account']" class="btn btn-light"
      ><i class="fas fa-user-circle text-primary"></i> Edit Account</a
    >
    <a [routerLink]="['/account/withdraw']" class="btn btn-light"
      ><i class="fab fa-black-tie text-primary"></i> Withraw </a
    >
    <a [routerLink]="['/account/deposit']" class="btn btn-light"
      ><i class="fas fa-graduation-cap text-primary"></i> Deposit</a
    >
    <a [routerLink]="['/loan']" class="btn btn-light"
      ><i class="fas fa-graduation-cap text-primary"></i> Loan</a
    >
  </div>
