<section class="container">
    <h1 class="large text-primary">Admin Dashboard</h1>
    <p class="lead"><i class="fas fa-user-shield"></i> Manage All Loans</p>
  
    <table class="table">
      <thead>
        <tr>
          <th>Loan ID</th>
          <th>Loan Amount</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loan of loans">
          <td>{{ loan.loanId }}</td>
          <td>{{ loan.loanAmount | currency: 'INR' : 'symbol' }}</td>
          <td>{{ loan.loanStatus }}</td>
          <td>
            <button class="btn btn-success" (click)="updateLoanStatus(loan.loanId,'APPROVED')" [disabled]="loan.status === 'Approved'">
              Approve
            </button>
            <button class="btn btn-danger" (click)="updateLoanStatus(loan.loanId,'DENIED')" [disabled]="loan.status === 'Rejected'">
              Reject
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="my-2">
      <div class="my-2">
        <button class="btn btn-secondary" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </button>
      </div>
    </div>
  </section>
